span{
    /* background-color: pink; */
    border: 2px solid;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
}

 div{
    /* background-color: pink; */
    border: 2px solid;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
}
