h1{
    border: 2px solid;
    width: 50%;
}

#outer{
    height: 100px;
    width: 100px;
    background-color: pink;
    margin: 50px;
}

#inner{
    height: 40px;
    width: 40px;
    background-color: cornflowerblue;
    margin: 20%;
}